.title-css{
  color: black;
  background-color: skyblue;
  margin: 0px;
  padding: 20px;
  text-align: center;
}
.nav-bar-box{
  outline-style: solid;
  outline-width: 1px;
  outline-color: grey;
  background-color: rgb(179, 252, 248);
}

.nav-bar-list{
  margin-top: 0px;
  display: flex;
  gap: 80px;
  justify-content: center;
}

body{
  margin: 0px;
}

p{
  white-space: normal;
}


.home-layout{
  display: flex;
  align-items: top;
  border: 2px solid #ccc;
}

.profile-picture{
  margin-right: 50px;
  margin-left: 20px;
  width: 320px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
}