a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  color: #000;
  color: #F2F7F5;
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

.website-header{
  display: flex;
  position: sticky;
  z-index: 1000;
  top: 0;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  background-color: #022414;
}

.title-css{
  display: inline;
  color: #F2F7F5;
  margin: 0px;
  padding: 10px;
  text-align: center;
}
.nav-bar-box{
  flex: 1;
  width: 100%;
  flex-wrap: wrap;

}

.nav-bar-list{
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  color: #F2F7F5;
  padding-left: 0px;
  flex-wrap: wrap;
}

body{
  margin: 0px;
  background-color: #022414;
  line-height: 1.6;
}

p{
  white-space: normal;
}

h2{
  margin-top: 80px;
  margin-bottom: 55px;
  color: #EAF7F2;
}

section {
  scroll-margin-top: 100px;
}

.home-h2{
  margin-top: 0px;
}


.home-layout{
  display: flex;
  justify-content: space-around;
  align-items: top;
}

.home-text-box{
  border: 2px solid #D6B24C;
  background-color: #123f21;
  border-radius: 24px;
}

.home-text{
  margin: 17px;
  color: #F2F7F5;
}

.home-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 55px 5px 5px 5px;
}

.home-btn{
  padding: 5px;
  margin-bottom: 3px;
  border: 1px solid black;
  background-color: #0b814a;
  border-radius: 10px;
}

.profile-picture{
  margin-right: 350px;
  margin-left: 100px;
  width: 320px;
  height: 270px;
  border-radius: 50%;
  object-fit: cover;
}

.about-layout{
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  margin: 30px;
}

.about-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title{
  margin: 0 0 12px 0;
  color: #F2F7F5;
}

.about-textbox-outline{
  border: 2px solid #D6B24C;
  background-color: #123f21;
  color: #F2F7F5;;
  padding: 40px;
  border-radius: 24px;
  height: auto;
}

.about-textbox-outline li{
  margin-bottom: 10px;
  line-height: 1.6;
}

.experience-item{
  display: grid;
  grid-template-columns: 320px 1fr;
  column-gap: 80px;
  align-items: start;
  margin-bottom: 45px;
}

.experience-list{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 16px;
}

.job-header, .job-info{
  margin: 0;
  border: 2px solid #D6B24C;
  background-color: #123f21;
  color: #F2F7F5;
  border-radius: 22px;
  padding-left: 24px;
}

.job-info{
  padding: 16px;
  padding-left: 36px;
  margin: 0;
}

.project-layout-grid{
  display: grid;
  row-gap: 75px;
}

.project-row-grid,
.project-row-grid-reverse{
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  justify-items: center; 
}

.project-info,
.project-image{
  justify-items: center;
  padding: 16px;
  border: 2px solid #D6B24C;
  background-color: #123f21;
  color: #F2F7F5;
}
.project-info{
  align-self: center;
  
}

.project-image{
  width: min(92vw, 600px);
}

.project-image img{
  width: 100%;
  height: auto; 
}

.header-container{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 90px;
}

.header-title{
  display: inline-block;
  border: 1px solid #D6B24C;
  background-color: #00551c;
  padding: 14px;
  border-radius: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.contact-info-grid-layout{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 18px;
  column-gap: 38px;
  margin: 200px;
  margin-top: 100px;
}

.contact-info-grid-layout a{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #D6B24C;
  background-color: #123f21;
  padding: 40px 130px;
  border-radius: 25px;
}

.contact-info-grid-layout a p{
  margin: 0px;
}

.contact-info-grid-layout a:last-child{
  grid-column: 1 / -1;
}

.image-contact-info{
  width: 43px;
  height: 43px;
  margin-right: 8px;
}

.school-email-link{
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-school-email{
  height: 43px;
  flex: 0 0 auto;
}

.contact-link-text{
  color: #F2F7F5;
}
.card{
  box-shadow: -15px 15px 37px rgba(0,0,0,0.95);
}


@media (max-width: 1500px){

  .website-header{
    flex-direction: column;
  }
  .home-header-container{
    margin-top: 20px;
  }
  .profile-picture{
    margin: 0px;
  }
  .home-image{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .home-layout{
    flex-direction: column;
    padding-inline: 4vw;
  }

  .about-layout{
    flex-direction: column;
  }

  .about-textbox-outline{
    padding: 18px;
  }

  .experience-item{
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .project-row-grid{
    grid-template-columns: 1fr;
    gap: 15px;
    padding-inline: 4vw;
  }

  .project-row-grid-reverse{
    grid-template-columns: 1fr;
    gap: 15px;
    padding-inline: 4vw;
  }

  .project-layout-grid > .project-row-grid:nth-of-type(odd) .project-info {
    order: 2;
  }
  .project-layout-grid > .project-row-grid:nth-of-type(odd) .project-image {
    order: 1;
  }


  .contact-info-grid-layout{
    grid-template-columns: 1fr;
    padding-inline: 3vw;
  }

  *{
  box-sizing: border-box;
}

html, body{
  max-width: 100%;
  overflow-x: hidden;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

.contact-info-grid-layout{
  margin-left: 0px;
  margin-right: 0px;
}

.project-image{
  width: min(92vw, 600px);
}

.project-image img{
  width: 100%;
  height: auto;
}


}
