.title-css{
  color: black;
  background-color: skyblue;
  margin: 0px;
  padding: 20px;
  text-align: center;
}
.nav-bar-box{
  outline-style: solid;
  outline-width: 1px;
  outline-color: grey;
  background-color: rgb(179, 252, 248);
}

.nav-bar-list{
  margin-top: 0px;
  display: flex;
  gap: 80px;
  justify-content: center;
}

body{
  margin: 0px;
  background-color: peachpuff;
}

p{
  white-space: normal;
}

h2{
  margin-top: 80px;
  margin-bottom: 55px;
}

.home-h2{
  margin-top: 0px;
}


.home-layout{
  display: flex;
  align-items: top;
}

.home-text-box{
  border: 2px solid hotpink;
  border-radius: 24px;
  margin-left: 100px;
  
}

.home-text{
  margin: 17px;

}

.home-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
  margin-top: 55px;
}

.home-btn{
  padding: 5px;
  margin-bottom: 3px;
  border: 1px solid black;
  border-radius: 10%;
  background-color: lightpink;
}

.profile-picture{
  margin-right: 250px;
  margin-left: 100px;
  width: 320px;
  height: 270px;
  border-radius: 50%;
  object-fit: cover;
}

.about-layout{
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  margin: 30px;
  align-items: flex-start;
}

.about-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title{
  margin: 0 0 12px 0;
}

.about-textbox-outline{
  border: 2px solid rgba(255, 187, 0, 0.973);
  padding: 40px;
  border-radius: 24px;
  height: auto;
}

.about-textbox-outline li{
  margin-bottom: 10px;
  line-height: 1.6;
}

.experience-item{
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 60px;
  align-items: start;
  margin-bottom: 25px;
}

.experience-list{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
}

.job, .job-info{
  margin: 0;
  border: 2px solid rgb(33, 131, 14);
  border-radius: 22px;
  padding: 18px;
}

.project-row-grid,
.project-row-grid-reverse{
  display: grid;
  grid-template-columns: max-content max-content; /* columns hug content */
  justify-content: space-evenly;                 /* like flex space-evenly */
  width: 100%;
  justify-items: start;
}

.project-info,
.project-image{
  width: fit-content; /* optional now, max-content already does it */
  padding: 16px;
  border: 2px solid #333;
}
