.title-css{
  color: black;
  background-color: skyblue;
  margin: 0px;
  padding: 20px;
  text-align: center;
}
.nav-bar-box{
  outline-style: solid;
  outline-width: 1px;
  outline-color: grey;
  background-color: rgb(179, 252, 248);
}

.nav-bar-list{
  margin-top: 0px;
  display: flex;
  gap: 80px;
  justify-content: center;
}

body{
  margin: 0px;
  background-color: peachpuff;
}

p{
  white-space: normal;
}

h2{
  margin-top: 80px;
  margin-bottom: 55px;
}

.home-h2{
  margin-top: 0px;
}


.home-layout{
  display: flex;
  align-items: top;
}

.home-text-box{
  border: 2px solid hotpink;
  border-radius: 24px;
  margin-left: 100px;
  
}

.home-text{
  margin: 17px;

}

.home-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
  margin-top: 55px;
}

.home-btn{
  padding: 5px;
  margin-bottom: 3px;
  border: 1px solid black;
  border-radius: 10%;
  background-color: lightpink;
}

.profile-picture{
  margin-right: 250px;
  margin-left: 100px;
  width: 320px;
  height: 270px;
  border-radius: 50%;
  object-fit: cover;
}

.about-layout{
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  margin: 30px;
  align-items: flex-start;
}

.about-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title{
  margin: 0 0 12px 0;
}

.about-textbox-outline{
  border: 2px solid rgba(255, 187, 0, 0.973);
  padding: 40px;
  border-radius: 24px;
  height: auto;
}

.about-textbox-outline li{
  margin-bottom: 10px;
  line-height: 1.6;
}

.experience-item{
  display: grid;
  grid-template-columns: 320px 1fr;
  column-gap: 80px;
  align-items: start;
  margin-bottom: 45px;
}

.experience-list{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
}

.job-header, .job-info{
  margin: 0;
  border: 2px solid rgb(33, 131, 14);
  border-radius: 22px;
  padding-left: 24px;
}

.job-info{
  padding: 16px;
  padding-left: 36px;
  margin: 0;
}

.project-layout-grid{
  display: grid;
  row-gap: 75px;
}

.project-row-grid,
.project-row-grid-reverse{
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  justify-items: center; 
}

.project-info,
.project-image{
  justify-items: center;
  padding: 16px;
  border: 2px solid #333;
}
.project-info{
  align-self: center;
}

.image-KNN{
  width: 460px;
  height: 550px;
}

.image-musicLL{
  width: 420px;
  height: 600px;
}

.image-portfolio{
  width: 600px;
  height: 400px;
}

.header-contact-container{
  text-align: center;
}

.header-contact-info{
  display: inline-block;
  border: 1px solid black;
  padding: 14px;
  border-radius: 15px;
}

.contact-info-grid-layout{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 18px;
  column-gap: 38px;
  margin: 200px;
  margin-top: 100px;
}

.contact-info-grid-layout a{
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 40px 150px;
  gap: 60px;
  border-radius: 25px;
}

.contact-info-grid-layout a p{
  margin: 0px;
}

.contact-info-grid-layout a:last-child{
  grid-column: 1 / -1;
}

.image-contact-info{
  width: 43px;
  height: 43px;
}