a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  color: #000;
  text-decoration: none;
}

.website-header{
  display: flex;
  position: sticky;
  z-index: 1000;
  top: 0;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  background-color: #071F19;
}

.title-css{
  display: inline;
  color: #F2F7F5  ;
  margin: 0px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 60px;
  text-align: center;
}
.nav-bar-box{
  flex: 1;
}

.nav-bar-list{
  display: flex;
  gap: 80px;
  justify-content: space-evenly;
}

body{
  margin: 0px;
  background-color: #061B16;
}

p{
  white-space: normal;
}

h2{
  margin-top: 80px;
  margin-bottom: 55px;
  color: #EAF7F2;
}

section {
  scroll-margin-top: 100px;
}

.home-h2{
  margin-top: 0px;
}


.home-layout{
  display: flex;
  align-items: top;
}

.home-text-box{
  border: 2px solid #D6B24C;
  background-color: #0D2F27;
  border-radius: 24px;
  margin-left: 100px;
  
}

.home-text{
  margin: 17px;
  color: #F2F7F5;
}

.home-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
  margin-top: 55px;
}

.home-btn{
  padding: 5px;
  margin-bottom: 3px;
  border: 1px solid black;
  border-radius: 10%;
  background-color: #2DD4BF;
}

.profile-picture{
  margin-right: 250px;
  margin-left: 100px;
  width: 320px;
  height: 270px;
  border-radius: 50%;
  object-fit: cover;
}

.about-layout{
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  margin: 30px;
  align-items: flex-start;
}

.about-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title{
  margin: 0 0 12px 0;
  color: #F2F7F5;
}

.about-textbox-outline{
  border: 2px solid #D6B24C;
  background-color: #0D2F27;
  color: #F2F7F5;;
  padding: 40px;
  border-radius: 24px;
  height: auto;
}

.about-textbox-outline li{
  margin-bottom: 10px;
  line-height: 1.6;
}

.experience-item{
  display: grid;
  grid-template-columns: 320px 1fr;
  column-gap: 80px;
  align-items: start;
  margin-bottom: 45px;
}

.experience-list{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
}

.job-header, .job-info{
  margin: 0;
  border: 2px solid #D6B24C;
  background-color: #0D2F27;
  color: #F2F7F5;
  border-radius: 22px;
  padding-left: 24px;
}

.job-info{
  padding: 16px;
  padding-left: 36px;
  margin: 0;
}

.project-layout-grid{
  display: grid;
  row-gap: 75px;
}

.project-row-grid,
.project-row-grid-reverse{
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  justify-items: center; 
}

.project-info,
.project-image{
  justify-items: center;
  padding: 16px;
  border: 2px solid #D6B24C;
  background-color: #0D2F27;
  color: #F2F7F5;
}
.project-info{
  align-self: center;
}

.image-KNN{
  width: 460px;
  height: 550px;
}

.image-musicLL{
  width: 420px;
  height: 600px;
}

.image-portfolio{
  width: 600px;
  height: 400px;
}

.header-contact-container{
  text-align: center;
}

.header-contact-info{
  display: inline-block;
  border: 1px solid #D6B24C;
  background-color: #0D2F27;
  padding: 14px;
  border-radius: 15px;
}

.contact-info-grid-layout{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 18px;
  column-gap: 38px;
  margin: 200px;
  margin-top: 100px;
}

.contact-info-grid-layout a{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #D6B24C;
  background-color: #0D2F27;
  padding: 40px 150px;
  border-radius: 25px;
}

.contact-info-grid-layout a p{
  margin: 0px;
}

.contact-info-grid-layout a:last-child{
  grid-column: 1 / -1;
}

.image-contact-info{
  width: 43px;
  height: 43px;
  margin-right: 8px;
}

.school-email-link{
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-school-email{
  height: 43px;
  flex: 0 0 auto;
}

.contact-link-text{
  color: #F2F7F5;
}